body
{
    background-color: rgb(242, 189, 152);
}
.container
{
    background-color: white;
    width: 90vw;
    
    margin-top: 1vh;
}


input
{
    width: 58vw;
    height: 7vh;
}


::placeholder
{
    
    padding-left: 1vh;
}

.submit
{
    width: 30vw;
}

.msg
{
    color: rgb(255,0,0);
    width: 45vw;
    margin-left: 8vw;
}

